.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  height: 100px;
  width: 100px;
  flex-grow: 1;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
  flex-grow: 2;
}

.purple {
  background: purple;
}