* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'News Cycle', sans-serif;
  background: #333;
}

.mainDiv {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.question {
  font-size: 20px;
}

label {
  margin-right: 5px;
}

.first-question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 100px;
  border-bottom: 3px solid black;
}

.secondaryDiv {
 background: #eee;
 border-radius: 5px;
}

.second-question{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 100px;
  border-bottom: 3px solid black;
}

.submits {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 100px;
}

.submit.one,
.submit.two {
  font-size: 30px;
  border: hidden;
  color: black;
  background: greenyellow;
  border-radius: 50px;
  width: 200px;
  margin: 5px;
}

.submit.one:disabled,
.submit.two:disabled {
  background: red;
}