.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  height: 100px;
  width: 100px;
}

.green {
  background: green; 
}

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}