.tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: 5px 7px 5px #888888;
  background-color: white;
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.full-tile {
  margin-bottom: 50px;
}

.city {
  font-weight: 900;
  font-size: 35px;
  margin: 0;
}

.location {
  font-size: 2vw;
  margin: 0;
}

.temp {
  font-weight: 900;
  font-size: 50px;
  margin-left: 10vw;
}

img {
  height: 150px;
}
