* {
  padding: 0;
  margin: 0;
}

#container{
  padding: 50px;
  display: flex;
  justify-content: center;
  height: 100%;
  background: #0366d6;
}

th {
  font-size: 60px;
  background-color: #1b1e25;
  color: #cad2db;
  border-bottom: 5px solid #cad2db;
}

td {
  font-size: 30px;
  border: 1px solid #cad2db;
}

table {
  width: 1000px;
  height: 800px;
  border-radius: 50px;
  border-style: hidden;
}

table, th, td {
  text-align: left;
  padding-left: 30px;
  border-collapse: collapse;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

#left-bottom {
  border-bottom-left-radius: 10px;
}

#right-bottom {
  border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
  background-color: #ebebeb;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}